ipywidgets              # Why is this here?
jupyterlab-rise
matplotlib
nbgitpuller
numpy
opencv-python-headless
otter-grader
panel
pandas
rise
scikit-image
scikit-learn
scipy
seaborn
statsmodels
sympy
tensorflow
torchvision
ydata-profiling
